.properties {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid var(--lightgray);
    border-radius: 8px;
    background-color: var(--light);
    font-size: 0.9rem;

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;

        tr {
            border-bottom: 1px solid var(--lightgray);

            &:last-child {
                border-bottom: none;
            }
        }

        td {
            padding: 0.4rem 0.6rem;
            vertical-align: top;
        }

        .property-key {
            font-weight: 600;
            color: var(--darkgray);
            width: 30%;
            text-transform: capitalize;
        }

        .property-value {
            color: var(--dark);
        }
    }
}